# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, `libmapstack.jinja` as well as the configured
# default sources in `parameters/map_jinja.yaml`.
#
# This documentation will need to be updated once there is
# some learned experience. @TODO
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_dotsync > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Force the usage of XDG directories for this user.
      xdg: true

      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_dotsync:users`.
        # Set this to `false` to disable configuration for this user.
      dotsync:
          # The purpose of this formula is to generally sync a user's
          # config/data/scripts from dotfiles repos.
          # For config, see the following sources (in descending priority):
          # salt://<source_root>/<minion_id>/<user>/<package_xdg_name>
          # salt://<source_root>/<minion_id>/<package_xdg_name>
          # salt://<source_root>/<os_family>/<user>/<package_xdg_name>
          # salt://<source_root>/<os_family>/<package_xdg_name>
          # salt://<source_root>/default/<user>/<package_xdg_name>
          # salt://<source_root>/default/<package_xdg_name>

          # Sync scripts etc. to `.local/bin` (or custom target).
          # Can be boolean or list of exact file names.
          # A list permits you to source scripts from different points
          # in the above priority list.
          # The fileserver source root is `dotbin` by default.
        bin: true
          # By default, bin files will be synced to `$HOME/.local/bin`.
          # Override that here.
        bindir: .bin

          # Sync config files from a dotfiles repo.
          # The fileserver source root is `dotconfig` by default.
        config:
              # Source: see above, `package_xdg_name` = `broot`
              # Target:
              #   if user.xdg: XDG_CONFIG_HOME/broot
              #   else:        ~/.broot
          - broot
              # This overrides target to ~/.ssh
          - ssh: .ssh
              # This overrides target to ~/
          - zsh: ''

          # Sync data files from a dotfiles repo.
          # The fileserver source root is `dotdata` by default.
        data:
              # Source: see above,  `package_xdg_name` = `vim`
              # Target:
              #   if user.xdg: XDG_DATA_HOME/vim
              #   else:        ~/.vim
          - vim
              # This overrides target to ~/.my/zsh
          - zsh: .my/zsh

          # Settings for file.recurse.
          # Those are the equivalents of the global ``dotsync`` parameter,
          # which is respected by this formula as well.
        dotbin:
          clean: false
          dir_mode: '0700'
          file_mode: '0700'
        dotdata:
          clean: false
          dir_mode: '0755'
          file_mode: '0644'

tool_dotsync:

    # Default formula configuration for all users.
  defaults:
    bin: default value for all users

    # User configuration can also be specified here in
    # `tool_dotsync:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      dotsync:
        bin: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
######################################################################
  lookup:
    rootgroup: root
    source_roots:
      dotbin: dotbin
      dotconfig: dotconfig
      dotdata: dotdata

######################################################################
# This is where `tool` suite settings end and Salt behavior settings
# inherited from `salt-formulas/template-formula` start. They will
# influence how exactly the TOFS pattern is applied. Mind that
# parts of this are disabled for `configsync.sls`.
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
