tool:
  users:
    user:
      xdg: true           # sync files into xdg dirs (XDG_CONFIG_HOME / XDG_DATA_HOME) by default
      dotsync:
        # sync scripts etc to .local/bin or custom target
        bin: true         # or list of exact names
        bindir: .bin      # by default, bin files will be synced to $HOME/.local/bin. override that
        # sync config files from salt://dotconfig/<user>/<tool> or salt://dotconfig/<tool>
        config:
          - broot         # target folder: depending on user.xdg: XDG_CONFIG_HOME/broot or $HOME/.broot
          - ssh: .ssh     # overrides target to $HOME/.ssh
        # sync data files from salt://dotdata/<user>/<tool> or salt://dotconfig/<tool>
        data:
          - vim           # target folder: depending on user.xdg: XDG_DATA_HOME/vim or $HOME/.vim
          - zsh: .my/zsh  # overrides target to $HOME/.my/zsh

    defaults:        # default tools whose config files should be synced
      config:
        - neofetch
